@import url('https://fonts.googleapis.com/css?family=Mali:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam:700&display=swap');

body {
    background-color: #fbe563;
    color: #3f3f3f;
}
h2, #check-label, #name-list, #random-list {
    text-shadow: 2px 2px 3px #a7a7a7;
}
#content {
    padding: 0%;
    font-family: 'Mali', cursive;
}
#header {
    margin-top: 75px;
    margin-left: 70px;
    margin-bottom: 40px;
    font-family: 'Kalam', cursive;
    color: #c0c0c0;
    color: #61a335;
    text-shadow: 4px 4px 2px #c0c0c0;
    animation-name: party-color;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}
#icon-party {
    height: 70px;
    width: 70px;
    margin-top: -30px;
    margin-left: -10px;
    filter: drop-shadow(0px 0px 2px #ff8585);
    animation-name: party-icon;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#addBtn, #ranBtn {
    background: #f861d2;
    border-color: #f861d2;
    box-shadow: 4px 4px 4px #535353;
}
#addBtn:hover, #ranBtn:hover {
    background: #ffacea;
    border-color: #ffacea;
} 
#list-header, #ranBtn {
    margin-bottom: 25px;
}
#name-input {
    width: 85%;
    margin-top: -5px;
}
#descrip-gift {
    width: 280px;
}
#ranBtn {
    border-width: 3px;
    height: 44px;
    width: 80%;
}
#name-list li{
    text-align: left;
    padding-left: 30px;
}
#name-list, #random-list {
    line-height: 2;
}
@keyframes party-color {
    from {color: #61a335;}
    to {color: #fff;}
}
@keyframes party-icon {
    from {background: url(./img/party-icon-1.png);}
    to {background: url(./img/party-icon-2.png);}
}